body {
    background-color:#C0DEED;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

body .modal {
    width: 1000px;
    left:33%;
	/* could also do this:
	
	function setSizes() {
	   var containerHeight = $("#listContainer").height();
	   $("#myList").height(containerHeight - 18);
	}

	then I bind the window resize to recalc it whenever the browser window is resized (if container's size changed with window resize)

	$(window).resize(function() { setSizes(); });
	
/*    top:33%; */
}

.modal-body {
/*    max-height: 800px; */
}

#filter-form {
    display: none;
}

.test {
	background: red;
	width: 100px;
	height: 100px;
	position: fixed;
	top:50%;
	left:50%;
}

/*
#page-container {
	position: relative;
	background: red;
	min-height:100%;
	width: 837px;
	margin: 0px, auto;
	padding-top: 54px;
	padding-left:14px;
	padding-right:15px;
}
*/