body {
    background-color:#C0DEED;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

body .modal {
    width: 1000px;
    left:33%;
/*    top:33%; */
}

.modal-body {
/*    max-height: 800px; */
}