body {
    background-color:#C0DEED;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

body .modal {
    width: 1000px;
    left:33%;
/*    top:33%; */
}

.modal-body {
/*    max-height: 800px; */
}

#filter-form {
    display: none;
}

.test {
	background: red;
	width: 100px;
	height: 100px;
	position: fixed;
	top:50%;
	left:50%;
}